# Dependencies
node_modules/
package-lock.json


# Logs
logs/
*.log

# Prisma
prisma/migrations/

# OS files
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/

# Build
dist/
build/

# Docker volumes
postgres_data/
