# Dependencies
node_modules/
package-lock.json

# Environment files
.env
.env.local
.env.production

# Logs
logs/
*.log

# Prisma
prisma/migrations/

# OS files
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/

# Build
dist/
build/

# Docker volumes
postgres_data/
